.modal-body {
    width: 80%;
    margin: 20px auto;
  }
  table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse; /* 合併表格邊框 */
  } 
  th,td {
    border: 2px solid #FABD51; /* 設定框線寬度和顏色 */
    padding: 10px;
  } 
  table tbody tr:nth-child(odd) {
    background-color: #FFFAE7;
  }
  table thead {
    background-color: #FABD51;
    color: #FFFAE7;
  }
  table thead th:first-child {
    border-radius: 5px 0 0 0;
  }
  table thead th:last-child {
    border-radius: 0 5px 0 0;
    border-right: none; /* 移除最後一個頭部元素的右邊框線 */
  }
  table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
  }
  table tbody tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
  }
  